body {
  transition: background-color 0.3s;
  font-family: Arial, sans-serif;
  margin: 20px;
}

.dark-mode {
  background-color: #000000;
  color: #ad1515;
}

.highlight {
  padding: 10px;
  background-color: #4caf50;
  color: #170661;
  border: none;
  cursor: pointer;
}

form {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.total {
    font-weight: bold;
    color: green;
}

Footer {
  color: black;
  text-align: center;
}

#chartContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.chart {
  width: 48%; /* Adjust the width as needed, leaving some space between charts */
  max-width: 400px; /* Set a maximum width */
  margin: 20px 0; /* Adjust the margin as needed */
}

#expenseChart {
  width: 100%; /* Make it full-width for responsiveness */
  max-width: 400px; /* Set a maximum width */
  height: 400px; /* Adjust the height for better visualization */
}

#houseExpenseChart,
#individualExpenseChart {
  width: 100%; /* Make it full-width for responsiveness */
  max-width: 400px; /* Set a maximum width */
  height: 200px; /* Adjust the height for better visualization */
  margin-top: 160px; /* Adjust the margin to align with the bottom of the pie chart */
}


#results {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.centered-text {
  text-align: center;
}
